.baby {
    display: table;

    margin: auto;
    /* border: 1px solid red; */

    aspect-ratio: 1;

}

.baby img, figcaption {
    display: block;

    margin-left: auto;
    margin-right: auto;
}

.baby img {
    height: 70vh;

    margin-top: 10%;

    
    
    /* border: 1px solid blue; */

}

.baby figcaption {
    font-family: Monospace, Times, serif;
    text-align: center;
    font-size: xx-large;
    letter-spacing: 0.5em;
    /* border: 1px solid green; */


}