.baby {
    display: flex;
    flex-direction: column;
    /* margin-left: 10vw; */
    /* margin-right: 10vw; */
    /* margin: auto; */
    margin-left: 0;
    margin-right: 0;
}

.baby img, figcaption {
    /* display: block; */
    margin: auto;
    min-width: 100%;
    max-width: 100%;
}

.baby img {
    height: 80vh;
}

.baby figcaption {
    font-family: Monospace, Times, serif;
    text-align: center;
    font-size: 3vh;
    letter-spacing: 0.5em;


}