
:root {
  --row-size: 5;
  --row-size-mobile: 3;
}

@media only screen and (hover: none) and (pointer: coarse) {
  :root {
    --row-size: var(--row-size-mobile);
  }
}

@font-face {
  font-family: "underbabyfont";
  /* src: url("/fonts/NineteenNinetyThree-L1Ay.ttf") format("woff2-variations"); */
  /* src: url("/fonts/PlayfairDisplay-Italic-VariableFont_wght.ttf") format("woff2-variations"); */
  /* src: url("/fonts/TiltWarp-Regular-VariableFont_XROT,YROT.ttf") format("woff2-variations"); */
  /* src: url("/fonts/Tourney-Italic-VariableFont_wdth,wght.ttf") format("woff2-variations"); */
  src: url("/fonts/Fraunces-Italic-VariableFont_SOFT,WONK,opsz,wght.ttf") format("woff2-variations");

  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: normal;
}

@font-face {
  font-family: angelic;
  src: url("assets/fonts/ANGELIC.TTF");
  }