.container .image-container {
  display: grid;
  grid-template-columns: repeat(var(--row-size), 1fr);
}




.container .image-container .cell {

  /* prevent blue selection to appear when clicking images or videos */
  -webkit-tap-highlight-color: transparent;


  position: relative;

  /* box-shadow: 0 5px 15px black; */
  overflow: hidden;
  cursor: pointer;
  aspect-ratio: 1;

  padding: 1%;

}

.container .image-container .cell .media {

  width: 100%;
  height: 100%;
  object-fit: contain;
  transition: 0.05s linear;

}



/* .play-button {
  position: relative;

  width: 0;
  height: 0;
  top: 5%;
  left: 80%;
  scale: 200%;
} */

.container .image-container .cell .video-icon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(175deg) brightness(108%) contrast(102%) drop-shadow(0px 0px 1px black);
  /* outline: 2px solid rgb(0, 0, 0); */
  width: 50%;
  height: 50%;
  /* text-shadow: 0px 0px 2px #000000; */
}



.container .image-container .cell:hover {
  transform: scale(1.02);
}




/* //////////////////////////////////////////////////////////////////////////////////////////////// */

.popup-image {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);
  z-index: 100;


}

/* "X" button */
/* .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
  } */

/* popup image centered container  */
.popup-image .cell {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  /* margins on top-right */
  height: 98vh;

  /* margins on left-right */
  width: 98%;


  /* border: 3px solid green; */

  background-color: transparent;
}

/* image inside popup image container */
.popup-image .cell .media {
  max-width: 100%;
  max-height: 100%;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  /* makesthe object fit the parent container */
  object-fit: contain;
  width: 100%;

  /* border: 3px solid rgb(15, 45, 177); */

  background-color: transparent;
}

/* for text under images in popup image container */
/* .popup-image .image p {
    display:table-cell;
    background-color: transparent;
    color: #fff;

    height: 5%;

    padding: 3px;
    text-align: center;
    vertical-align: middle;
    
    padding: 10px;
    padding: 50%;

    border: 3px solid yellow;

  } */




