

  .container {
    /* position: relative;
    min-height: 100vh; */
    /* background: rgb(255, 255, 255); */
  }


  .container .image-container {
    
    --rowsize: 4

  }


  .container .image-container {
    display: grid;
    grid-template-columns: repeat(var(--rowsize), 1fr);
    
    
  }


  .container .image-container .image {

    /* box-shadow: 0 5px 15px black; */
    overflow: hidden;
    cursor: pointer;
    aspect-ratio: 1;


  }

  .container .image-container .image img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: 0.05s linear;
    padding: 2%;


  }
  .container .image-container .image:hover img {
    transform: scale(1.05);


    /* animation: shake-little 1.3s infinite; */

  } 


  .container .popup-image {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(255, 255, 255, 0.6);
    backdrop-filter: blur(10px) ;
    z-index: 100;
    /* border: 3px solid red; */

  }

  /* "X" button */
  /* .container .popup-image span {
    position: absolute;
    top: 0;
    right: 10px;
    font-size: 40px;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    z-index: 100;
  } */

  /* popup image centered container  */
  .container .popup-image .image { 
    display: block;
    position: absolute;
    top: 50%;
    left:50%;
    transform: translate(-50%,-50%);

    /* margins on top-right */
    height:98vh;

    /* margins on left-right */
    width: 98%;

    
    /* border: 3px solid green; */

    background-color: transparent;
  }

  /* image inside popup image container */
  .container .popup-image img {
    max-width: 100%;
    max-height:100%;
    margin: auto;
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;

    /* makesthe object fit the parent container */
    object-fit: contain;
    width: 100%;

    /* border: 3px solid rgb(15, 45, 177); */
    
    background-color: transparent;
  }

  /* for text under images in popup image container */
  /* .container .popup-image .image p {
    display:table-cell;
    background-color: transparent;
    color: #fff;

    height: 5%;

    padding: 3px;
    text-align: center;
    vertical-align: middle;
    
    padding: 10px;
    padding: 50%;

    border: 3px solid yellow;

  } */




  @media only screen and (hover: none) and (pointer: coarse) {
    .container .image-container {
      --rowsize: 3;
    }
  }