@font-face {
    font-family: Quinquefive;
    src: url('Quinquefive-0Wonv.ttf');
}
@font-face {
    font-family: absender;
    src: url(absender1.ttf);
}
@font-face {
    font-family: Alien-Encounters;
    src: url(Alien-Encounters-Bold.ttf);
}
@font-face {
    font-family: DS-DIGIB;
    src: url(DS-DIGIB.TTF);
}

body {
    color: rgba(255, 255, 255, 0.863);

    background: rgb(37, 38, 41 );
    background-repeat: repeat;

    font-family: Consolas;

    margin-top: 0;
    margin-bottom: 0;

    max-width: 600px;
    margin-right: auto;
    margin-left: auto;
    text-align: justify;
}

model-viewer {
    width: 400;
    height: 400;
    margin-left: auto;
    margin-right: auto;
}

.sidenav {
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 10;
    background-color: rgba(0, 0, 0, 0.466);
    overflow-x: hidden;
    padding-top: 20px;
    border: 2px solid black;

}

.sidenav a {
    padding: 0px 0px 0px 10px;
    text-decoration: none;
    text-shadow: 2px 2px #cea32d;
    font-size:25px;
    font-family: Consolas;
    color: #ffffff;
    display: block;
}

.sidenav a:hover {
    color: #525252;
    position: relative;
    padding-right: 20px;
    top: var(--sidenav-a-top);
    left: var(--sidenav-a-left);
}


div.transbox {
    background-color: rgba(0, 0, 0, 0.404);
    border: 2px solid black;
}
div.transbox p {
    margin: 5%;
    color: #ffffff;
  }


h1 {
    text-align: center;
}