/* Add a black background color to the top navigation */
.topnav {
    overflow: hidden;
    display: flex;

    
    
    /* make navbar stay fixed on top */
    /* position: fixed;
    top: 0;
    width: 100%; */
    
    z-index: 100;
    justify-content: center;
    font-family: monospace;

    
    margin: 0;
    padding: 0;

  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    color: white;
    text-align: center;
    padding: 5px 16px;
    text-decoration: none;
    font-size: 17px;
    
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    color: rgb(177, 177, 177);
  }
  

  