@tailwind base;
@tailwind components;
@tailwind utilities;

body{
  margin: 0;
}

::selection {
  background-color: #995c00;
  color: #fff;
}

@layer components {
  .btn-simple {
    @apply bg-white text-black p-1 border-black border cursor-pointer my-1 hover:bg-black hover:text-white disabled:opacity-50 disabled:cursor-not-allowed;; 
  }
}


